@page
@model Anslagstavlan.Pages.RoomModel
@{
}

<div class="text-center">
    <h1>@Model.Room.ChatRoomName (created by "@Model.CreatedRoomUser.Username")</h1>
    <p>Add a message to @Model.Room.ChatRoomName</p>

    <form method="post">
        <div class="mb-1">
            <label for="message">Message:</label><br>
            <input hidden asp-for="@Model.Room.ChatRoomId" />
            <input hidden asp-for="@Model.CreatedRoomUser" />
            <input required type="text" id="message" asp-for="@Model.Message.Message">
        </div>
        <div class="mb-2">
            <input type="submit" />
        </div>
    </form>

    @if (Model.Room.Messages != null)
    {
        @foreach (var message in Model.Room.Messages)
        {
            @foreach (var user in Model.CreatedMessageUsers)
            {
                @if (user.ChatUserId == message.ChatUserId)
                {
                    <p>
                        @message.Message (posted by "@user.Username"

                        @if (user.Img != null)
                        {
                            <img src="~/imgs/@user.Img" style="max-width:30px" />
                        }
                        
                        at @message.Date)
                    </p>
                    break;
                }
            }
        }
    }

    @if (Model.Room.Img != null)
    {
        <div style="position:fixed;top:150px;right:200px">
            <img src="~/imgs/@Model.Room.Img" style="max-width:200px" />
        </div>
    }

</div>